{%- macro _swatch(c1, c2) -%}
  {%- if c1 == c2 %}
    <div class="placeholder"></div>
  {%- else %}
    {%- set grade = grade(c1, c2) %}
    <div class="swatch" style="--c1: {{ c1 }}; --c2: {{ c2 }};">
      <span class="swatch__sample" aria-hidden="true">Aa</span>
      <div class="score">
        <span class="score__grade score__grade--{{ grade }}">{{ grade }}</span>
        <span class="score__ratio">{{ contastRatio(c1, c2) }}</span>
      </div>
    </div>
  {%- endif %}
{%- endmacro -%}

<!DOCTYPE html>
<html lang="en" class="app">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/static/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Contrast ratio color grid</title>
</head>
<body class="app__body">

  <main class="app__main">

    <div class="app__sidebar">
      <h1 class="heading-l">Contrast ratio color grid</h1>
      <p>Quickly compare every color in your palette against each other to see which combinations meet the Web Content Accessibility Guidelines (<abbr>WCAG</abbr>) minimum contrast ratios.</p>
      <form class="form" action="/" method="post">
        <label class="form__label" for="colors">Color hex codes, one per line</label>
        <textarea class="form__input" id="colors" name="colors" cols="7" rows="10">{{- colors.join("\n") -}}</textarea>
        <button class="form__button" type="submit">Go</button>
      </form>

      <h2 class="heading-m">Scoring guide</h2>
      <dl class="index">
        <dt>
          <div class="score">
            <span class="score__grade score__grade--AAA">AAA</span>
            <span class="score__ratio">&ge;7.00</span>
          </div>
        </dt>
        <dd>Sufficient contrast for any text at WCAG Level AAA.</dd>
        <dt>
          <div class="score">
            <span class="score__grade score__grade--AA">AA</span>
            <span class="score__ratio">&ge;4.50</span>
          </div>
        </dt>
        <dd>Sufficient contrast for any text at WCAG Level AA, and <b>large</b> text at Level AAA.</dd>
        <dt>
          <div class="score">
            <span class="score__grade score__grade--AAL">AAL</span>
            <span class="score__ratio">&ge;3.00</span>
          </div>
        </dt>
        <dd>Sufficient contrast for UI elements and <b>large</b> text at WCAG Level AA.</dd>
        <dt>
          <div class="score">
            <span class="score__grade score__grade--Fail">Fail</span>
            <span class="score__ratio">&lt;3.00</span>
          </div>
        </dt>
        <dd>Doesn't meet minimum contrast. Only suitable for disabled UI elements and presentational (non-content) elements.</dd>
      </dl>
    </div>

    <div class="app__wrapper">
      {%- if colors | length > 0 %}
        <table class="grid">
          <thead>
            <tr>
              <th></th>
              {%- for c2 in colors %}
                <th scope="col">
                  <div class="color-label" style="--c: {{ c2 }};">{{ c2 }}</div>
                </th>
              {%- endfor %}
            </tr>
          </thead>
          <tbody>
            {%- for c1 in colors %}
              <tr>
                <th scope="row">
                  <div class="color-label" style="--c: {{ c1 }};">{{ c1 }}</div>
                </th>
                {%- for c2 in colors %}
                  <td>
                    {{ _swatch(c1, c2) }}
                  </td>
                {%- endfor %}
              </tr>
            {%- endfor %}
          </tbody>
        </table>
      {%- endif %}
    </div>

  </main>

</body>
</html>
